html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Consolas;
}

h1 {
  color: #5C0588;
  font-size: 48px;
  margin: 10px;
}

h2 {
  color: #0e182f;
  font-size: 21px;
}

b {
  color: #5C0588;
}